## Calculate square  of all numbers between 0-10 using list comprehensions

In [2]:
def squares(start, end):
    squares = [value ** 2 for value in range(start,end+1)]
    return squares

print(squares(0, 10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## multiply whole list by 10

In [16]:
squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
multiplied_list = [element * 10 for element in squares]

print(multiplied_list)

[0, 10, 40, 90, 160, 250, 360, 490, 640, 810, 1000]

## extract numbers from a string using list comprehension

In [20]:
list1 = ['Rs. 24', 'Rs. 18', 'Rs. 8', 'Rs. 21']
  

print("The original list : " + str(list1))
  

res = [int(sub.split('.')[1]) for sub in list1]
  

print("The list after Extracting numbers : " + str(res))

The original list : ['Rs. 24', 'Rs. 18', 'Rs. 8', 'Rs. 21']
The list after Extracting numbers : [24, 18, 8, 21]

## Write the program to remove the duplicate element of the list.

In [23]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
     

duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

## Write a program to find the sum of the element in the list.

In [24]:
total = 0
 

list1 = [11, 5, 17, 18, 23]
 

for ele in range(0, len(list1)):
    total = total + list1[ele]
 

print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

## Write the program to find the lists consist of at least one common element.

In [25]:
def common_data(list1, list2):
    result = False
  
    
    for x in list1:
  
   
        for y in list2:
    
           
            if x == y:
                result = True
                return result 
                  
    return result
      

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_data(a, b))
  
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False