## 1) Write a function to find the max of three numbers.

In [1]:
a=int(input("Enter first number: "));

b=int(input("Enter second number: "));

c=int(input("Enter Third number: "));

def f():

    if(a>=b) and (b>=c):

        l=a

    elif(b>=a) and (b>=c):

         l=b

    else:

         l=c

    print("Largest number among  the three is",l)

f()

Enter first number: 18
Enter second number: 45
Enter Third number: 15
Largest number among  the three is 45

## 2)Write a function to sum all the numbers in a list.

In [2]:
def sum(numbers):

   total = 0

   for x in numbers:

       total += x

   return total

print(sum((5, 2, 3, 4, 8)))

22

## 3)Write a function to multiply all the numbers in a list.

In [3]:
def multiply(numbers):  
    
    total = 1
    
    for x in numbers:
        
        total *= x  
        
    return total  

print(multiply((8, 5, -3, 1, 7)))

-840

## 4)Write a function to reverse a string.

In [4]:
def reverse(x):
    
  return x[::-1]

mytxt = reverse("my name is panchami")

print(mytxt)

imahcnap si eman ym

## 5) Write a function to calculate the factorial of a number.

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
n=int(input("Enter a number to compute the factiorial : "))

print(factorial(n))

Enter a number to compute the factiorial : 5
120

## 6)Write a function that accepts a string and calculate the number of upper case letters and lower case letters.

In [8]:
def string_test(s):
    
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    
    for c in s:
        if c.isupper():
            
           d["UPPER_CASE"]+=1
        
        elif c.islower():
            
           d["LOWER_CASE"]+=1
        else:
            
           pass
    
    print ("Original String : ", s)
    
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('My Name Is PANCHAMI')

Original String :  My Name Is PANCHAMI
No. of Upper case characters :  11
No. of Lower case Characters :  5

## 7)Write a function that takes a list and returns a new list with unique elements of the first list.

In [9]:
def f(list):

    a=set(list)

    print(sorted(a))

f([1,1,1,2,2,2,3,4,5,5,6,7,7])

[1, 2, 3, 4, 5, 6, 7]